{% extends "admin/change_form.html" %}

{% block title %}Edit Job Schedule{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">Home</a> &rsaquo;
    <a href="../../">Protrac</a> &rsaquo;
    <a href="../">Jobs</a> &rsaquo;
    Schedule
</div>
{% endblock %}

{% block content %}
{% if department %}
<h1>{{ department.1 }} Jobs</h1>
{% else %}
<h1>Showing all Production Lines</h1>
{% endif %}

{% for line in production_lines %}
<h2>{{ line }}</h2>
<form method="post" action="">
    {{ line.formset.management_form }}
    {% csrf_token %}

<div class="results">
    <table>
    {% for form in line.formset %}
    {% with form.instance as job %}
        <tr>
            <td>
            {% for field in form.visible_fields %}
                {{ field }}
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            </td>
            <td>{{ job }}</td>
            <td>{{ job.product }}</td>
            <td>{{ job.customer }}</td>
            <td>{{ job.refs }}</td>
            <td>{{ job.qty_remaining }} cycles</td>
            <td>{{ job.weight_remaining }} lbs.</td>
            <td>{{ job.duration_remaining }}</td>
        <tr/>
        {% endwith %}
        {% endfor %}
    </table>
</div>
<input type="submit"> <!-- FIXME -->
</form>
{% endfor %}
{% endblock %}
